.slogin-page {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.sform {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 60%;
  width: 50%;
  max-width: 400px;
}

.sform form {
  width: 95%;
  justify-self: center;
}

.sform p {
  font-size: 12px;
  text-align: center;
  color: #899198;
}

.login-h1 {
  font-size: 2rem;
  color: #4d87c1;
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
  padding: 0px;
}

.input-group {
  justify-self: center;
  width: 100%;
  padding: 7px;
}

.password {
  padding-top: 1%;
  margin: 0;
  margin-right: 3%;
  text-align: right !important;
}

.slabel {
  font-weight: 400;
  font-size: 0.8rem;
}

.input {
  padding: 10px;
  font-size: 0.8rem;
  height: 30px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
  margin-top: 10px;
}

.input:focus {
  border-color: rgb(92, 120, 238);
  outline: none;
}

.message {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.message.success {
  color: green;
}

.message.error {
  color: red;
}

@media (max-width: 768px) {
  .slogin-page {
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .login-container {
    width: 93.4%;
    height: 93%;
    padding: 20px;
    background-color: #c4dcf3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sform {
    width: 90%;
    max-width: 350px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
  }

  .login-h1 {
    font-size: 2rem;
    margin-left: 0;
    text-align: center;
  }

  .auth-login-button {
    margin-left: 0;
    margin-top: 10px;
  }
}

.password-container {
  position: relative;
  width: 100%;}

.toggle-password {
  position: absolute;
  right: 4%;
  top: 67%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-password svg {
  width: 20px;
  height: 20px;
  color: rgb(56, 56, 59);
}

@media (max-width: 438px) {
  .sform {
    width: 80%;
    height: fit-content;
    margin-top: 7%;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
